<div class="container-fluid">
    <h2>bienvenido al mundo de la barra de cereal</h2>
     <br>
    <p class="text-center">las barras de cereal son una barra energética hecha de una mezcla de ingredientes naturales, como granos, frutas
        secas, nueces, semillas, miel y otros ingredientes. Están diseñadas para ser un snack saludable y conveniente
        para cualquier momento del día. La composición exacta puede variar dependiendo de la marca, pero algunos
        ingredientes comunes incluyen cereales integrales, frutas secas, frutos secos, semillas, endulzantes naturales y
        especias. A veces se agregan otros ingredientes para crear diferentes sabores y texturas. Las barras de cereal
        se consideran nutritivas y saludables debido a su contenido de fibra, proteínas, vitaminas y minerales, pero es
        importante leer las etiquetas nutricionales y elegir barras con ingredientes naturales y bajos en azúcar
        añadida.</p>
</div>